<h1>GAME OF THRONES </h1>
<h3><%= link_to "New House", new_house_path %></h3>

<tabel>
  <tr>
    <td>House</td>
  </tr>

  <% @houses.each do |house| %>
  <tr>
    <td><%= link_to house.name, house_path(house) %></td>
    <td><%= link_to 'Delete House', house_path(house),
           method: :delete,
           data: { confirm: 'Are you sure?'}%></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <!-- <td><%= link_to 'Show', house_path(house) %></td> -->
  </tr>
  <% end %>
</table>
