<h2><%= link_to "Houses", houses_path %></h2>

<p>
  <strong> Name: </strong>
  <%= @house.name %>
</p>

<p>
  <strong> Description: </strong>
  <%= @house.description %>
</p>

<img src="<%= @house.img_url %>">

<h2>Characters</h2>
<%= render @house.characters %>

<h3>Add a character:</h3>
<%= render 'characters/form' %>

<p><%= link_to 'Edit', edit_house_path(@house) %></p>
<p><%= link_to 'Back', houses_path %></p>

<% flash.each do |type, message| %>
<p class="flash <%= type %>" >: <%= message %></p>
<% end %>
