<%= form_for([@house, @house.characters.build]) do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>

<p>
  <%= f.label :img_url %><br>
  <%= f.text_field :img_url %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
